<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Configuration</title>
        <input-field type="text">
            <name>instanceName</name>
            <label lang="en-GB">Instance name</label>
            <helpText>The instance name of the Payrexx shop</helpText>
        </input-field>
        <input-field type="text">
            <name>apiKey</name>
            <label lang="en-GB">API Key</label>
            <helpText>The API key you find in your Payrexx merchant backend</helpText>
        </input-field>
    </card>
</config>