
{% sw_extends '@Storefront/storefront/component/payment/payment-fields.html.twig' %}

{% block component_payment_fieldset_template %}
    {% if payment.customFields.payrexx_payment_method_name == 'payrexx_payment_apple_pay' %}
        <div id='payrexx-applepay'>
            {% include '@PayrexxPaymentGatewaySW6/storefront/payrexx/apple-pay.html.twig' %}
        </div>
    {% endif %}
    {% if payment.customFields.payrexx_payment_method_name == 'payrexx_payment_google_pay' %}
        <div id='payrexx-googlepay'>
            {% include '@PayrexxPaymentGatewaySW6/storefront/payrexx/google-pay.html.twig' %}
        </div>
    {% endif %}
    {{ parent() }}

{% endblock %}